# CODEOWNER Github Docs

# https://docs.github.com/ja/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Review will be requested when someone opens a pull request.

* @yukihiroLaravel  @kou-tech